.wrapper {
    text-align: center;
    padding-top: 90px;
}

.title {
    color: #222222;
    text-transform: uppercase;
    font: 900 64px/77px "Inter";
    letter-spacing: 0.08em;
}

.line {
    background-color: #323232;
    width: 60px;
    height: 2px;
    margin: 5px auto 12px auto;
}

.subtitle {
    color: #323232;
    text-transform: uppercase;
    font: 500 16px/19px "Inter";
    letter-spacing: 0.08em;
}
