.banner {
    margin-top: 260px;
    background: url("../../../../public/img/banner/bg.svg") no-repeat center / cover;
    text-align: center;
    height: 540px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__stage {
        &-title {
            font: 700 36px/44px "Inter";
            color: #353535;
            margin: 0 auto;
            background-color: #fff;
            border-radius: 12px;
            display: inline-block;
            padding: 10px 20px;
        }
        &-text {
            font: 400 16px/150% "Inter";
            max-width: 650px;
            color: #fff;
            margin: 30px 0;
        }
        &-btn {
            margin-top: 36px;
            background-color: #fff;
            border-radius: 100px;
            color: #d48128;
            font: 700 24px/100% "Inter";
            padding: 12px 32px;
            text-transform: uppercase;
            transition: all 0.2s;
            &:hover {
                opacity: 0.75;
            }
        }
        &-0 {
            &-text {
                font: 700 36px/44px "Inter";
                color: #fff;
                max-width: 1100px;
                margin: 0 auto;
            }
            &-btn {
                margin-top: 30px;
                background-color: #fff;
                border-radius: 100px;
                color: #d48128;
                font: 700 40px/100% "Inter";
                padding: 15px 75px;
                text-transform: uppercase;
                transition: all 0.2s;
                &:hover {
                    opacity: 0.75;
                }
            }
        }
        &-2 {
            &-items {
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 12px;
                &-item {
                    border-radius: 16px;
                    width: 140px;
                    height: 140px;
                    background-color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    &--color {
                        &:hover {
                            opacity: .75;
                        }
                    }
                    > img {
                        display: block;
                        height: 80%;
                        pointer-events: none;
                    }
                }
            }
        }
    }
}

.fade-enter-active {
    animation: fade-in 250ms forwards;
}

.fade-exit-active {
    animation: fade-out 250ms forwards;
}


@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}